@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
      
}

body{
    display: flex;
    flex-direction: column;
    font-family:" Raleway", sans-serif;

}

header{
    
    box-shadow: 0px 3px 5px #cacbcc;
    background: #f4f4f5;
    
    
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 30px;
}

.logo img{
    max-width: 125px;
    height: auto;
    
    
}

.navTitulo h1, h2 {
    font-size: 20px;
    color: rgb(38, 36, 36);

    
    
}

.navList{
    display: flex;
    align-items: center;
    
}

.navList ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navItem{
    margin: 0 15px;
}

.navItem a:hover {
    color: #ff0000;
    font-weight: bold;
    transition: color 0.9s;
}

.navLink{
    text-decoration: none;
    color: rgb(100, 95, 95);
    font-weight: 400;
    font-size: 12px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}
.container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.texto {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 254, 254, 0.227); 
    padding: 20px;
    color: rgb(51, 49, 49);
    height: 100%; 
    width: 50%; 
    box-sizing: border-box; 
    overflow: hidden; 
}

.texto p {
    font-size: 35px;
    margin-top: 130px;
}

.texto h1, .texto h2 {
    font-size: 60px;
   
    margin-left: 50px;
}

.texto-content {
    position: relative;
    z-index: 1; 
}

.texto-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 0; 
}

footer {
    background-color: #ff0000;
    color: #fff;
    padding: 13px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    box-sizing: border-box; 

}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #ffd700; 
}

/* .navButton button{
    border: none;
    border-radius: 7.5px;
    background: #34d399;
    padding: 10px 15px;
    

}*/
.navButton button a{
    text-decoration: none;
    color: black;
    font-weight: 500;

}
.navButton button:hover{
    background: #32ad80;
    transition: 1s;

}

.mobileMenuIcon{
    display: none;
}

.mobileMenu{
    display: none;
}



.bg-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/_e632de43-d4a3-410a-8c7e-894a900e3c73.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    
}
.logo-dog{
    font-size: 6rem;
}
.ctd-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    & h1, a{
        font-weight: 700;
    }
    & a{
        font-size: 1.2rem;
        text-decoration: none;
        margin-left: 210px;
        color: #fff;
    }
}


.grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    & img{
        height: 40px;
        width: 40px;
    }
}

/* Responsividade */
@media screen and (max-width: 730px){
    /* Header */
    .navBar{
        padding: 10px 20px;
    }

    .navItem{
        display: none;

    }
    .navButton{
        display: none;
    }
    .mobileMenuIcon{
        display: block;
    }
    .mobileMenuIcon button{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobileMenu .navItem{
        display: block;
        padding-top: 1.2rem;
    }

    .mobileMenu .navButton{
        display: block;
        padding: 1rem 2rem;
    }

    .mobileMenu .navButton button{
        width: 100%;
    }

    .open{
        display: block;
    }

    /* Main */
   main{
    padding: 10px;
   }
    .bg-image{
        
        flex-direction: column;
    
        height: 600px;
    }

    .logo-dog{
        font-size: 5rem;
    }
    .ctd-text{
        color: white;
        margin-left: 70px;
        gap: 20px;
        & h1, a{
            color: #fff;
            font-weight: 700;
        }
        & a{
            font-size: 1.2rem;
            text-decoration: none;
            margin-left: 210px;
        }

}
}

   /* formulario contato */
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    background: #2fa2c5;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}