:root{
    --bg-white: #fff;
    --bg-contraste: #edecec;
    --br-red: #e01c22;
    --black: #000;
    --gray: #393839;
    
}

*{
    margin: 0;
    padding: 0;
      
}


#mainServicos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.ctnServicos{
    display: flex;
    width: 100%;
    height: 505px;


}

.boxTitle{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background: var(--bg-contraste);
    padding: 78px 0 0 20px;
    width: 20%;

}

.titleThin{
    font-weight: 100;
}

.gridServicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img/bg.svg);
    width: 80%;
    height: 100%;
    padding: 10px 0 0 150px;
}

.gridServicos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ctnItem{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    width: 500px;
}

.titleItem{
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 30px;
    & i{
        color: #000;                
        font-size: 3rem;
    }
}

.ctnImage{
    height: 80px;
    width: 80px;

}

.ctnImage img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
/* Fim container servicos */
footer {
    background-color: #ff0000;
    color: #fff;
    padding: 13px;
    text-align: center;
    position: relative;
    bottom: -28px;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    box-sizing: border-box; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease; 
}

footer a:hover {
    color: #ffd700; 
}